<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="info.mq.infoconsumer.mapper.center_errormessage_mapper">
    <insert id="addError"  useGeneratedKeys="true"  keyProperty="id">
        insert into center_errormessage_list (`topicName`,`mesBody`,`status`,`taskCode`,`errorMsg`)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.topicName},#{item.mesBody},#{item.status},#{item.taskCode},#{item.errorMsg})
        </foreach>
    </insert>
</mapper>