<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="info.mq.admincenter.mapper.center_execution_mapper">

    <select id="findAll" resultType="center_execution">
        SELECT *
        FROM center_execution_list
    </select>
    <select id="findOne" resultType="center_execution">
        SELECT *
        FROM center_execution_list where id=#{0}
    </select>
    <insert id="add" parameterType="center_topic" keyProperty="id">
        insert into center_execution_list(address, name,status,code) values(#{address}, #{name}, #{status}, #{code})
    </insert>
    <update id="update" parameterType="center_execution">
        update center_execution_list
        SET address=#{address},name=#{name},status=#{status},code=#{code}
        where id=#{id}
    </update>
    <delete id="delete" >
        delete from center_execution_list
        where id=#{0}
    </delete>
</mapper>